@import "../../styles/styles";

.collapse-section {
  display: flex;
  background: $gray-base-color;

  h6 {
    text-align: center;
  }

  .collapse {
    font-size: 18px;
  }

  .code-block {
    font-family: "Roboto";
    color: white !important;
  }
}


