@import "../../styles/styles";

.scroller-section {
  height: 120px;
  min-height: 0;
  background: $gray-base-color;
  pointer-events: none;

  .scroller-container {
    mask: linear-gradient(
      90deg,
      transparent,
      $light-base-color 20%,
      $light-base-color 80%,
      transparent
    );
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;

    .scroller {
      animation: scroll 30s linear infinite;
      white-space: nowrap;
      width: max-content;
      display: inline-block;

      .logo {
        max-height: 60px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        margin: 0 20px;

        &:hover {
          -webkit-filter: none;
          filter: none;
        }
      }
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
